<!doctype html>
<html lang="en">

<head>
    <link rel="icon" href="/pages/images/favicon.ico" type="image/x-icon" />
    <script src="https://unpkg.com/vue"></script>
    <title>LinkMeLater - Activate User</title>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <!-- <link rel="stylesheet" href="/pages/_styles/activation.css" type="text/css" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<body>
    <div id="activation-app">
      <div class="container-fluid vertical-center">
        <activate-user></activate-user>
      </div>
    </div>
    <script type="text/javascript" src="/pages/scripts/activation.js"></script>
</body>

</html>