#activation-app {
	background-color: lightgrey;
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	#activation-response {
		max-width: 30%;
		.alert {
			text-align: center;
		}
	}
	.vertical-centermin-height {
		height: 100%; /* Fallback for browsers do NOT support vh unit */
		min-height: 100vh; /* These two lines are counted as one :-)       */
		display: flex;
		align-items: center;
	}
}
