#app-bg
	position: absolute;
	background-color: lightgrey;
	min-height: 100%;
	min-width: 100%;
	padding-top: 3rem;
#app-signup
	padding-top: 40px;
	#column-container
		padding-top: 60px;
		#sign_up_container1
			// position: absolute;
			width: 80%;
			margin: 0 auto;
			text-align: justify;
			text-justify: inter-word;
			.signup
				margin: 0 auto;
				input
					margin: auto;
			#sign_up
				display: block;
				// margin: 7.0em 15.0em;
				// text-align: center;
				.signup.step1
					margin: 0 auto;
					text-align: center;
					background-color: rgba(0,0,0,.4);
					// padding-top: 10px;
					// padding-bottom: 50px;
					height: 258px;
				.step3
					// padding-top: 106px;
				input
					display: block;
				.rlink
					margin-top: 10px;
				label
					text-align: left;
					color: rgba(0,0,0,0.8);
					padding-left: 2px;


.header
	.display-3
		font-family: sans-serif;
		font-weight: 500;
		color: rgba(0,0,0,.8);
	.display-5
	color: rgba(0,0,0,.4);

.flexbox
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	flex-flow: column;


