// This spreadsheet will store all variables that are used inside our application.

$dd-height: 30px;
// $dd-width: 100%;
$dd-width: 200px;
$dd-border-color: #0069d9;
$dd-fill-color: #ffffff;
$card-fill-color: white;