<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Must be first item in <Head> -->
    <title>Sign Up - Tab Hoarder</title>
    <meta charset="UTF-8" />
    <meta name="description" content="150 words" />
    <meta name="keywords" content="your, tags" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="subject" content="A chrome extension that saves your tabs" />
    <meta name="copyright" content="Company Name" />
    <meta name="language" content="EN" />
    <meta name="robots" content="index,follow" />
    <meta name="author" content="name, dgolant@gmail.com" />
    <meta name="designer" content="name" />
    <meta name="reply-to" content="dgolant@gmail.com" />
    <meta name="owner" content="Daniel Golant" />
    <meta name="rating" content="General" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="application-name" content="TabMailer" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="msapplication-navbutton-color" content="#FFFFFF" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-square70x70logo" content="_img/meta/mstile01sm.png" />
    <meta name="msapplication-square150x150logo" content="_img/meta/mstile02md.png" />
    <meta name="msapplication-wide310x150logo" content="_img/meta/mstile03wd.png" />
    <meta name="msapplication-square310x310logo" content="_img/meta/mstile04lg.png" />
    <meta name="apple-mobile-web-app-title" content="My App" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- "yes" hides Safari navbar in iOS -->
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="_img/meta/apl-57.png" type="image/png" sizes="57x57" />
    <link rel="apple-touch-icon-precomposed" href="_img/meta/apl-57.png" type="image/png" sizes="57x57" />
    <link rel="apple-touch-icon" href="_img/meta/apl-72.png" type="image/png" sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" href="_img/meta/apl-72.png" type="image/png" sizes="72x72" />
    <link rel="apple-touch-icon" href="_img/meta/apl-114.png" type="image/png" sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" href="_img/meta/apl-114.png" type="image/png" sizes="114x114" />
    <link rel="apple-touch-icon" href="_img/meta/apl-144.png" type="image/png" sizes="144x144" />
    <link rel="apple-touch-icon-precomposed" href="_img/meta/apl-144.png" type="image/png" sizes="144x144" />
    <link rel="apple-touch-startup-image" href="_img/meta/apl-str.png" type="image/png" />
    <link rel="fluid-icon" href="_img/meta/fluid.png" type="image/png" />
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon" /> -->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/ico" /> -->
    <link rel="stylesheet" href="/pages/_styles/signup.css" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css" />
    <!-- Load local jQuery if Google CDN is unreachable -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="881057203535-i7f0fqflce385r6u0p41nvseto0k8gbk.apps.googleusercontent.com">
</head>
<script>
function onSignIn(googleUser) {
    signupScreen.onSignIn(googleUser);
}
</script>

<body class="bg-light-red">
    <div id="app-signup">
        <div class="header mw5 mw7-ns center pa3 ph5-ns">
            <h1 class="f1 black-80 tc"> Welcome to TabMailer</h1>
            <h2 class="f4 black-40 tc"> The Tab Hoarders Best Friend</h2>
        </div>
        <div class="mw5 mw7-ns center pa3 ph5-ns" method="get" id="sign_up_container" accept-charset="utf-8" v-if="!signUpRequestComplete">
            <fieldset id="sign_up" class="ba b--transparent">
                <legend class="ph0 mh0 fw6 clip">Sign Up</legend>
                <div class="mt3">
                    <input class="mw5 mw7-ns center pa3 b--black f6 f5-l input-reset fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns mb3" placeholder="Your Email Address" type="email" v-model="email" name="email-address" id="email-address">
                </div>
                <div class="mt3">
                    <input class="mw5 mw7-ns center pa3 b--black f6 f5-l input-reset fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns mb3" placeholder="Your Username" type="username" v-model="username" name="username" id="username">
                </div>
                <div class="mt3">
                    <div class="g-signin2 center mw7-ns center b--black f6 f5-l input-reset fl black-80 lh-solid w-100 w-75-m w-80-l br2-ns" data-onsuccess="onSignIn"></div>
                </div>
            </fieldset>
            <div class="mt2 pl3">
                <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="button" v-on:click="signupButtonSubmit" :disabled=isDisabled value="Sign Up">
            </div>
        </div>
        <div v-else>
            <div class="mt2 pl3">
                <p class="b ph3 pv2 input-reset ba b--black bg-transparent tc center grow pointer mw3 mw5-ns f6">{{completionMessage}}</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../pages/scripts/vue.js"></script>
    <script type="text/javascript" src="/pages/scripts/signup.js"></script>
</body>

</html>